<div style="text-align:center">
  <div *ngIf="imageToShow != null">
    <h1>{{imageToShow.filename}}</h1>
  </div>
  <div *ngIf="imageToShow == null">
    <h1>Images</h1>
  </div>
</div>
<div class="box">
  <button (click)="getAllImages()">Get All Images</button>
  <a class="header-text">Max Recommendations:</a>
  <input [value]="maxRecommendations" type="number" (change)="maxRecommendationsChanged()">
  <a class="header-text">Recommendation Accuracy:</a>
  <ngx-slider [(value)]="accuracy" [options]="accuracyOptions" (userChangeEnd)="accuracyEvent()"></ngx-slider>
</div>

<body>
  <div class="grid-container" *ngFor="let image of imagesList">
    <img (click)="clickedImage(image)" style="height: 20vh; aspect-ratio: 1;" src={{getPath(image.filename)}}>
  </div>
</body>