.grid-container {
    display: inline-grid;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    height: 100%;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(76, 231, 96);
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  .topnav input {
      float:right;
      flex: auto;
      height: 80%;
      width: 20%;
      -webkit-appearance:none;
      vertical-align: center;
      box-sizing: content-box;
  }
  