  <div class="topnav">
    <a (click)="getAllImages()"><mat-icon>home</mat-icon></a>
    <div>
      <b class="rocker-label">
        Image Quality:
      </b>
      <label class="rocker rocker-small">
        <input (ngModelChange)="qualityChanged($event)" [(ngModel)]="useRaw" type="checkbox">
        <span class="switch-left">HQ</span>
        <span class="switch-right">LQ</span>
      </label>
    </div>
    <b class="rocker-label">
      Click on an image for AI recommendations. If there are not enough recommendations, turn down the recommendation accuracy slider.
    </b>
  </div>

  <!-- Searchbar -->
  <div style="margin-top: 20px; margin-bottom: 20px; padding-left: 20px;" class="bar">
    <input class="searchbar" type="text" (ngModelChange)="searchChanged($event)" [(ngModel)]="search" title="Metadata Search" placeholder="Metadata Search. Ex: SONY">
    <a> <mat-icon class="voice">search</mat-icon></a>
  </div>

  <!-- Grid Title-->
  <div class="images-title">
    <h2 *ngIf="imageToShow == null && search == ''">Images</h2>
    <h2 *ngIf="imageToShow == null && search != ''">Search results for {{search}}</h2>
    <h2 *ngIf="imageToShow != null">Recommendations for {{imageToShow.filename}}</h2>
  </div>

  <div class="grid-container" *ngIf="imageToShow != null">
    <!--
    <a>Max Recommendations:</a>
    <input [value]="maxRecommendations" type="number" (change)="maxRecommendationsChanged()">
    -->
    <a>Recommendation Accuracy:</a>
    <ngx-slider [(value)]="accuracy" [options]="accuracyOptions" (userChangeEnd)="accuracyEvent()"></ngx-slider>
  </div>

  <body>
    <div class="grid-container" *ngFor="let image of imagesList; let i = index" [attr.data-index]="i">
      <img [ngClass]="imageToShow != null && i == 0 ? 'borderedImage': ''" (click)="clickedImage(image)" style="height: 20vh; aspect-ratio: 1;" src={{getPath(image.filename)}}>
    </div>
    <div *ngIf="imagesList == []">
      Oops. No images were found.
    </div>
  </body>